
<ul>
  <% @employee.coupons.each_with_index do |coupon, index| %>
    <li><a href="<%= company_branch_reward_path(current_company,@branch,coupon.reward) %>">
      <%= "#{coupon.reward.name} - #{coupon.code}" %></a>  to
      <%= "#{coupon.user.name}" %> - <%= "#{coupon.user.email}" %></li>
    <br>
  <% end %>
</ul>
