<section class="company_background">

<h2 class="salute">Welcome <%= current_employee.name %></h2>
<h2 class="response"></h2>
<h2 class="error"></h2>
<h3 class="reward_description"></h3>

<div class="row">

  <section class="col-md-12 statistics2 font_2">
    <div class="row">
      <div class="input-field col s12">
          <input value="" id="first_name2" type="text" class="email_to_validate">
          <label class="active" for="first_name2">e-mail</label>
        </div>
      <div class="input-field col s12">
        <input value="" id="first_name2" type="text" class="code_to_validate">
        <label class="active" for="first_name2">Coupon number</label>
      </div>
      </div>
    <button type="button" class="js-btn-validate waves-effect waves-light btn">
      Validate coupon
    </button>
  </section>

</section>
