<div id="filterrific_results">

  <table>
    <tr>

    </tr>
    <% @all_rewards.each do |reward| %>
      <tr>
        <th>Company</th>
        <td><%= reward.company.name %></td>
        <th>Reward</th>
        <td><%= link_to(reward.name, users_branches_map_path(reward.company.id)) %></td>
        <th>Kms cost</th>
        <td><%= reward.kms_cost %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate rewards %>
