<section class="user_background">

<h2 class="salute">Welcome <%= current_user.name %>!</h2>

<div class="row">

  <section class="col-md-5 statistics1 font_2">
    <div class="row">
      <div class="col-md-5 kms">
        <h2>75 &nbsp;kms</h2>
      </div>
       <div class="col-md-1">
      </div>
      <div class="col-md-5 level">
        <h2>Level &nbsp;2</h2>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 races">
        <h2>3 races</h2>
      </div>
    </div>
  </section>

  <section class="col-md-6 statistics2 font_2">
    <div class="row">
      <div class="col-md-12 coupons">
       <a class="waves-effect waves-light btn">View Coupons</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 syncronize">
        <h3>Syncronize your kms</h3>
        <img src="runkeeper_icon.png" alt="runkeeper_logo" />
      </div>
    </div>
  </section>

</div>

</section>
