<section class="user_background">

<h2 class="salute">Welcome <%= current_user.name %>!</h2>

<div class="row">

  <section class="col-md-5 statistics1 font_2">
    <div class="row">
      <div class="col-md-5 kms">
        <h2 class="kms_counter">75</h2><h2>kms</h2>
      </div>
       <div class="col-md-1">
      </div>
      <div class="col-md-5 level">
        <h2>Level</h2><h2 class="level_counter">2</h2>
      </div>

    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-1 races">
        <h2 class="races_counter">3</h2><h2>races</h2>
      </div>
    </div>
  </section>

  <section class="col-md-7 statistics2 font_2">
    <div class="row">
      <div class="col-md-12 coupons">
       <a class="waves-effect waves-light btn">View Coupons</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 syncronize">
        <h4>Syncronize your kms</h4>
        <button class="js-btn-runkeeper waves-effect waves-light" type="button" name="button"></button>
        <button class="nikerunning waves-effect waves-light" type="button" name="button"></button>
        <button class="endomondo waves-effect waves-light" type="button" name="button"></button>
        <button class="sporttracker waves-effect waves-light" type="button" name="button"></button>
        <button class="runtastic waves-effect waves-light" type="button" name="button"></button>
        <button class="tomtom waves-effect waves-light" type="button" name="button"></button>
      </div>
    </div>
  </section>

</div>

</section>
