#branchMap {
  height: 250px;
  width: auto;
  // border-radius: 16px 16px;
  // border-style: solid;
  // box-shadow: 2px 2px 10px #B1B1B1;
  // margin-top: 25px;
  // border-width: 7px;
}

#get-places {
  width: 100%;
  margin-bottom: 10%;
}

#input-wrapper {
  margin: auto;
  width: 25%;
}
