// Place all the styles related to the Coupons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#rewards_map{
  height: 300px;
  width: auto;
}

.coupon_show{
  min-height: 500px !important;
}

.minimum_heigth{
  min-height: 550px;
}
