.user_info{
  background-color: #3F51B5;
}

.salute{
  min-height: 100px;
  color: #DEDDDD;
}

.profile_img img{
  //  border: 1px solid #d9d9d9;
   border-radius: 75px;
   -moz-border-radius: 75px;
   -webkit-border-radius: 75px;
   height: 125px;
   width: 125px;
   overflow: hidden;
   text-align: center;
   img { width: 100% }
}

.sync_button:hover{
  background-color: #26A69A;
}

.statistics1{
  font-family: impact, impact-w01-2010, impact-w02-2010, impact-w10-2010, sans-serif;
  background-color: #00A99D;
}

.kms{
  font-size: 45px;
  background-color: #DEDDDD;
  position: relative;
  top: -20px;
}

.level{
   font-size: #DEDDDD;
   background-color: #DEDDDD;
   position: relative;
   top: -20px;
}

.races{
  font-size: 45px;
  color: #DEDDDD;
}

.sync_label{
  font-family: 'Lobster', cursive;
  color: #515151;
}

.js-btn-runkeeper{
  width: 50px;
  height: 50px;
}

.js-btn-runkeeper img{
  width: 50px;
  height: 50px;
  margin-left: -5px;
}

.nikerunning{
  width: 50px;
  height: 50px;
}
.nikerunning img{
  width: 50px;
  height: 50px;
  margin-left: -5px;
}

.endomondo{
  width: 50px;
  height: 50px;
}
.endomondo img{
  width: 50px;
  height: 50px;
  margin-left: -5px;
}

.sportstracker{
  width: 50px;
  height: 50px;
}
.sportstracker img{
  width: 50px;
  height: 50px;
  margin-left: -5px;
}

.runtastic{
  width: 50px;
  height: 50px;
}
.runtastic img{
  width: 50px;
  height: 50px;
  margin-left: -5px;
}

.tomtom{
  width: 50px;
  height: 50px;
}
.tomtom img{
  width: 50px;
  height: 50px;
  margin-left: -5px;
}
