.salute{
  min-height: 100px;
}

.statistics1{
  font-family: impact, impact-w01-2010, impact-w02-2010, impact-w10-2010, sans-serif;
  background-color: #00A99D;
}

.kms{
  font-size: 45px;
  background-color: #DEDDDD;
  position: relative;
  top: -20px;
}

.level{
   font-size: #DEDDDD;
   background-color: #DEDDDD;
   position: relative;
   top: -20px;
}

.races{
  font-size: 45px;
  color: #DEDDDD;
}

.statistics2{

}
